[submodule "prezto"]
	branch = master
	path = prezto
	url = https://github.com/ezintz/prezto.git
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
